<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="isLoggedIn$" #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <button color="primary" mat-button routerLink="/dashboard">
          <i class="material-icons">
            view_list
          </i>Dashboard</button>
          <button (click)="testUser()">test</button>
      </a>
      <a mat-list-item routerLink="/user">
        <button color="primary" mat-button routerLink="/user">
          <i class="material-icons">face</i>Profile</button>
      </a>
      <a mat-list-item routerLink="/profile">
        <button color="primary" mat-button routerLink="/profile">
          <i class="material-icons">
            folder_shared
          </i>My Posts</button>
      </a>
      <a mat-list-item routerLink="/messages">
        <div *ngIf="newMessages ; else noMessages">
          <button color="warn" mat-button routerLink="/profile">
            <i class="material-icons new-content dot">
              
              email
            </i>New Messages!</button>
        </div>
        <ng-template #noMessages>
          <button color="primary" mat-button routerLink="/profile">
            <i class="material-icons">
              email
            </i>Messages</button>
        </ng-template>
      </a>


      <a *ngIf="currentUser" mat-list-item>
        <button mat-button (click)="logOut()">
          <i class="material-icons">
            call_received
          </i>Logout</button>
      </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>StrikeMatch</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>