<mat-card>
  <div *ngIf="postsReady">
    <mat-card-title>
      <h2 mat-dialog-title> Claim Post</h2>
    </mat-card-title>
    <mat-dialog-content>
      <mat-card>
        <mat-card-title style="text-transform:uppercase">{{currentPost.department}}</mat-card-title>
        <div class="post-body">
          <mat-card-content>
            <h3>
              <strong>{{currentPost.title}}

              </strong>
            </h3>
            <p>
              <strong>{{currentPost.description}}</strong>
            </p>

            <p>Pick this up before
              <span>{{currentPost.deathDate.toDate()| date: 'MM/dd/yyyy'}}</span>
            </p>
          </mat-card-content>
        </div>

      </mat-card>
      <form class="example-form" [formGroup]="claimWindow">
        <h4>Intersted? Contact {{currentPost.displayName}} to set up a pick-up date</h4>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Subject" formControlName="messageTitle">
          <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" matInput placeholder="Body"
            formControlName="messageBody" style="width:95%"></textarea>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button value="{{currentPost.id}}" (click)="claimRequestClicked($event.target.value)">Send</button>
      <button mat-raised-button>Cancel</button>
    </mat-dialog-actions>
  </div>

</mat-card>