<h2 mat-dialog-title [innerText]="currentPost.title" > </h2>
<mat-dialog-content>
  <h4>Last Pickup Date:  {{currentPost.deathDate.toDate() | date: 'dd/MM/yyyy'}}</h4>
  <p >{{currentPost.description}}</p>
  <p >here will be the username</p>
  <form class="example-form" [formGroup] ="claimWindow" >
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Subject" formControlName="messageTitle">
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field>
          <textarea matInput placeholder="Body" formControlName="messageBody"></textarea>
      </mat-form-field>
    
 
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="claimRequestClicked()">Claim</button>
  <button mat-raised-button>Cancel</button>
</mat-dialog-actions>