.mat-card {
    max-width: 60%;
    margin:auto; 
    text-align: center;
  
  }
  .mat-card-actions{
    display:flex
  }
  
  .mat-card-actions .flex-spacer{
    width:100%
  }

  .mat-card[_ngcontent-c1] {
    max-width: 60% !important;
    margin: auto;
    text-align: center;
}
  