<mat-card>
  <ng-container *ngIf="newMessages">
    <p>New MEssages!</p>
  </ng-container>
  
  <mat-tab-group (selectedTabChange)="this.tabChange($event)">
    <mat-tab label="Search Posts" >
      <ng-template matTabContent>
        <app-feed></app-feed>
      </ng-template>
    </mat-tab>
    <mat-tab label="Publish Post">
      <ng-template matTabContent>
      <app-posts></app-posts>
      </ng-template>
    </mat-tab>

    <mat-tab label="Edit Posts" >
      <ng-template matTabContent>
        <mat-icon>edit</mat-icon>
        <app-edit></app-edit>
     

      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <button mat-button (click) ='isLoggedIn()'>test login</button>
</mat-card>