<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" node="side">
   <button color ="primary" mat-button routerLink="/dashboard">Dashboard</button>
   <button color="primary" mat-button routerLink="/profile">Profile</button>
   <button color="primary" mat-button routerLink="/messages">Inbox</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button class="mat-icon-button" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <span>StrikeMatch</span>
          <span class="spacer"></span>
          <mat-icon>favorite</mat-icon>
          <button mat-icon-button (click)="authService.SignOut()"><mat-icon>favorite
            
          </mat-icon></button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <mat-icon>publish</mat-icon>
            <mat-icon>share</mat-icon>
            <mat-icon>delete</mat-icon>

          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
    
    <router-outlet></router-outlet>
    </div>
</mat-drawer-container>

