<!-- <mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <ul>
      <div>
        <button color="primary" mat-button routerLink="/dashboard" (click)="sidenav.toggle()"><i class="material-icons">
            view_list
            </i>Dashboard</button>
      </div>
      <div>
        <button color="primary" mat-button routerLink="/profile" ><i class="material-icons">
            folder_shared
            </i>My Posts</button>
      </div>
      <div>
        <button color="primary" mat-button routerLink="/messages"> <i class="material-icons">
            email
            </i>Messages</button>
      </div>
      <div>
        <button color="primary" mat-button routerLink="/user">
          <i class="material-icons">face</i>Profile</button>
      </div>

      <div>
        <button color="primary" mat-button routerLink="/terms">Legal</button>
      </div>
    </ul>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button class="mat-icon-button" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span>StrikeMatch</span>
        <span class="spacer"></span>
       <div style="text-align:right">
        <button mat-button (click)="logOut()"><i class="material-icons" >
            call_received
            </i>Logout</button>
          </div>
      </mat-toolbar-row>
    </mat-toolbar> -->
   
    <router-outlet></router-outlet>
    <div>
      
      
    </div>
  
