<div>
  <h2>Welcome to StrikeMatch</h2>
  <h3> A RealTime database for the sharing of materials through the theatre community</h3>
  <br>
  <h2>Who we are</h2>
  <br>
  <h4>Desigend by a dedicated theatrical professionsals with decades of combined experience, StirkeMatch is a small team dedicated
    to scurely connecting designers, technical directors, producers, and directors to other theatre professionals to exchange
    materials from, loadouts, warehouses, basements, storage units, or anywhere they may be gathering dust. We were sick
    of paying people to come pick up the flats we knew we'd need at our next Load-in or that we knew could be reused by another
    company.
  </h4>
  <h2>How It Works</h2>
  <br>
  <h4>Need something?  Search our real time Database for anything form costumes to cables, raw materials to rigging.
    StirkeMatch is <strong>built by theatre professionals for theatre professionals</strong>.  One quick search of out database
    shows your only what your looking for and puts you in touch with the owner at the click of a button to arrange a pickup.
    <br>
    Getting Rid of Something?  Rather than pay someone to come pick up materials you can't store, our simple posting system allows you to 
    seamlessly list your items in a real-time database, determine when they get picked up, and communicate where and when you want those items to be exchanged only when you say.
    <strong>Stop Throwing Stuff Away</strong>
  </h4>
  <app-login></app-login>