<p>
  You are about to confirm a pickup for your item.  By clicking confirm you agree to have this post removed from the StrikeMathc feed anda gree in good faith to be at the slected locaiton at the selected pickup time to exchange said items.  Thanks for using strike match!
</p>
<h4>Post:</h4>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ente
      
      
       r a pickup adress" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matDatePicker placeholder=""></textarea>
    </mat-form-field>
  </form>