<app-navbar></app-navbar>
<ng-container *ngIf="postReady">
  <mat-card class ="main-card">
   
    <mat-card-title>Confrim Pickup</mat-card-title>
    <div>
      <mat-card-content>
        You are about to confirm a pickup for your item. By clicking confirm you agree to have this post removed from the StrikeMatch
        feed and agree in good faith to be at the slected locaiton at the selected pickup time to exchange said items. Thanks
        for using strike match!
      </mat-card-content>
      <mat-card style="text-align:left">
        <mat-card-title>{{currentPost.displayName}}'s Post: </mat-card-title>
        <mat-card-title>{{currentPost.title}}</mat-card-title>
        <mat-card-title>Requested by {{currentPost.requestedBy}}</mat-card-title>
        <mat-card-subtitle>
          Department: {{currentPost.department}}
        </mat-card-subtitle>
        <mat-card-subtitle>
          SubDepartment: {{currentPost.subDepartment}} 
        </mat-card-subtitle>
        <mat-card-content>
           {{currentPost.displayName}}: {{currentPost.description}}
        </mat-card-content>
        <form [formGroup]="form"  name="exchange">
       <mat-form-field class="confirm-controls">
            <input matInput formControlName= "time" type="datetime-local" placeholder="select a date and time">
          </mat-form-field>
        <mat-form-field class="confirm-controls">
          <input matInput formControlName= "location" placeholder="Enter pickup location" value="">
        </mat-form-field>
      </form>
        <button mat-button  [disabled]="!form.valid" (click)="confirmClicked()" >confirm</button>
        <button mat-button (click)="cancel()" >Back</button>
      </mat-card>
    </div>
  </mat-card>
</ng-container>