.data-table{
  min-width: 150px;
  width: 100%;
 
}
.main-card {
  width: 100%;
  max-width: 60%;
  margin:auto; 
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-card{
    display:block;
    width:100%
}
.center{
    text-align: center;
}

.loading{
  margin:0 auto;
}
.card-header{
  text-align: left;
  width: 100%
}

.new-content-cell{
  width:1%;
}

td{
  text-align:left;
}