<mat-tab-group (selectedTabChange)="this.tabChange($event)">

    <mat-tab label="Inbox">
      <ng-template matTabContent>
        <div>
          <ng-container>
            <table mat-table matSort [dataSource]="userReceived"  class="mat-elevation-z8" layout-align="center center">
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let message"> {{message.createdAt | date: 'MM/dd/yyyy' }}</td>
                  </ng-container>
              <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
                <td mat-cell *matCellDef="let message"> {{message.author}} </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let message; let i=index;">
                  <div>
                    <button mat-button color="primary" routerLink="/conversation" value="{{message.id}}" (click)="messageClicked($event.target.value)">
                      {{message.title}}</button>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let message; let i=index;">
                  <div>
                   <button mat-button color ="primary" routerLink="/conversation" value="{{message.id}}" (click)="messageClicked($event.target.value)">Reply</button>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row;  columns: displayedColumns"></tr>
            </table>
          </ng-container>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Sent Messages">
      <ng-template matTabContent>
        <div>
          <ng-container>
            <table mat-table matSort [dataSource]="userSent" class="mat-elevation-z8" layout-align="center center">
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let message"> {{message.createdAt | date: 'MM/dd/yyyy' }}</td>
                  </ng-container>
              <ng-container matColumnDef="recipient">
                <th mat-header-cell  mat-sort-header *matHeaderCellDef> Recipient</th>
                <td mat-cell *matCellDef="let message"> {{message.recipient}} </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell  mat-sort-header *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let message; let i=index;">
                  <div>
                    <button mat-button color="primary" routerLink="/conversation" value="{{message.id}}" (click)="messageClicked($event.target.value)">
                      {{message.title}}</button>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let message; let i=index;">
                  <div>
                    <app-modal></app-modal>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="sentColumns"></tr>
              <tr mat-row *matRowDef="let row;  columns: sentColumns"></tr>
            </table>
          </ng-container>
        </div>
      </ng-template>

    </mat-tab>
    <div *ngIf="selectedMessage">
      <div>{{selectedMessage.data.title}}</div>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
        <div>
          <p>{{selectedMessage.data.body}}</p>
        </div>


        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Respond"></textarea>
        </mat-form-field>
      </form>
    </div>
  
</mat-tab-group>