.data-table{
  min-width: 150px;
  width: 100%;
 
}
.main-card {
  width: 100%;
  max-width: 60%;
  margin:auto; 
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-card{
    display:block;
    width:60%
}
.center{
    text-align: center;
}

.loading{
  margin:0 auto;
}