<mat-card class="main-card">
  <mat-tab-group>
    <mat-tab label="My Schedule">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{userDisplayName}}'s Schedule</mat-card-title>
          <mat-card-subtitle>Here's everything you've got coming up. </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="claimedPosts.length > 0">
          <div class="mat-elevation-z8">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Posts">
            </mat-form-field>
            <table class="mat-elevation-z8" matSort mat-table [dataSource]="claimedPosts" style="text-align:left">
              <ng-container matColumnDef="User">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                <td mat-cell *matCellDef="let post">{{post.displayName}}</td>
              </ng-container>

              <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let post">{{post.title | truncate:15:false }}</td>
              </ng-container>

              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let post">{{post.description | truncate: 20 : false}}</td>
              </ng-container>

              <ng-container matColumnDef="Contact">
                <th mat-header-cell *matHeaderCellDef> Contact </th>
                <td mat-cell *matCellDef="let post">
                  <button id="{{post.id}}" color="primary" (click)="openDialog($event.target.id)" style="outline:none" value={{post.id}}>Claim</button>
                </td>

              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef='let row; columns: displayedColumns'></tr>
            </table>
          </div>
          <mat-paginator [length]="this.claimedPosts.length" [pageSize]="5" [pageSizeOptions]="[5,10,25]"></mat-paginator>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Open Posts">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{userDisplayName}}'s open Posts</mat-card-title>
          <mat-card-subtitle>All your items currently on the StrikeMatch feed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <table class="mat-elevation-z8" mat-table [dataSource]="openPosts" style="text-align:left; width:100%">
              <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let post">{{post.title }}</td>
              </ng-container>
              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let post">{{post.description }}</td>
              </ng-container>
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let post">
                  <div *ngIf="post.claimRequested">
                    Claim Requested!
                  </div>
                  <div *ngIf="!post.claimRequested">
                    Claim open.
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns" style="text-align:center;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Claimed Posts">
      <mat-card>
        <mat-card-title>{{userDisplayName}}'s claimed Posts</mat-card-title>
        <mat-card-subtitle>All your claimed listings waiting to be picked up.</mat-card-subtitle>
        <mat-card-content>
          <div>
            <table class="mat-elevation-z8" mat-table [dataSource]="claimedPosts">
              <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let post">{{post.title | truncate:15:false}}</td>
              </ng-container>
              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let post">{{post.description | truncate:25:true}}</td>
              </ng-container>
              <ng-container matColumnDef="Requested By">
                <th mat-header-cell *matHeaderCellDef>Requested By</th>
                <td mat-cell *matCellDef="let post">{{post.claimedBy | truncate:25:false}}</td>
              </ng-container>
              <ng-container matColumnDef="PostedBy">
                <th mat-header-cell *matHeaderCellDef>Posted By
                  <th>
                    <td mat-cell *matCellDef="let post">{{post.displayName | truncate:25:true}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="claimedTabColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: claimedTabColumns"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Requested Posts">
      <mat-card>
        <mat-card-content>
          <mat-card-title>{{userDisplayName}}'s requested Posts</mat-card-title>
          <mat-card-subtitle>All your posts with active requests.</mat-card-subtitle>

          <div class="mat-elevation-z8">
            <table class="mat-elevation-z8" mat-table [dataSource]="pickedPosts">
              <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let post">{{post.title | truncate:15:false}}</td>
              </ng-container>
              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let post">{{post.description | truncate:25:true}}</td>
              </ng-container>
              <ng-container matColumnDef="PostedBy">
                <th mat-header-cell *matHeaderCellDef>Posted By
                  <th>
                    <td mat-cell *matCellDef="let post">{{post.displayName | truncate:25:true}}</td>
              </ng-container>
              <ng-container matColumnDef="Requested By">
                <th mat-header-cell *matHeaderCellDef>Requested By</th>
                <td mat-cell *matCellDef="let post">{{post.requestedBy | truncate:25:false}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="claimedTabColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: claimedTabColumns"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
  </mat-card>

