table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .main-card {
    width: 100%;
    max-width: 60%;
    margin:auto; 
    text-align: center;
    z-index: 1
    
  }

  .card-header{
    text-align: left;
    width: 100%
  }
  .table{
    text-align: left
  }
  