<div class="displayTable">
    <div class="displayTableCell">
   
  
        <!-- Calling SignIn Api from AuthService -->
  
  
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
        <div class="formGroup">
          
          <button type="button" class="btn googleBtn" (click)="authService.FacebookAuth()">
            <i class="fab fa-facebook-g"></i>
            Log in with Facebook
          </button>
        </div>
        <div>
         Concerned about Privacy? <button routerLink="/terms">Read up on our terms</button>
        </div>
  
</div>
  </div>