<mat-card>
  <mat-card-title>
    Publish a New Post
  </mat-card-title>
  <mat-card-subtitle>
    <div *ngIf="postState > 2">
      <h4>Your current post:</h4>
      <span *ngIf="this.rForm.value.department">
        <strong>Department:</strong> {{this.rForm.value.department}}</span>
      <br>
      <span *ngIf="this.rForm.value.subDepartment">
        <strong> SubDepartment:</strong> {{this.rForm.value.subDepartment}}
      </span>
      <br>
      <span *ngIf="this.rForm.value.category">
        <strong> Category:</strong> {{this.rForm.value.category}}
      </span>
      <br>
      <span *ngIf="this.rForm.value.deathDate && this.rForm.value.description"><strong>Description:</strong>{{this.rForm.value.description}} to be picked up no later than {{this.rForm.value.deathDate | date: 'fullDate'}}</span>
      <br>
      <span *ngIf="this.rForm.value.deathDate && this.rForm.value.description"><strong>Pick Up Before:</strong>{{this.rForm.value.deathDate | date: 'fullDate'}}</span>
    </div>
  </mat-card-subtitle>
  <mat-card-content>

    <div>
      <form [formGroup]="rForm" id="createPost" (ngSubmit)="this.modifyAndPost(this.rForm)">
        <mat-card-content>
          <div *ngIf="postState === 0">
            <h4>Which department does this belong to?</h4>
            <button mat-button color="primary" value="electrical" (click)="selectDepartment($event)" id="electrical">electrical</button>
            <button mat-button color="primary" value="scenery" (click)="selectDepartment($event)" id="scenery">scenery</button>
            <button mat-button color="primary" value="costumes" (click)="selectDepartment($event)" id="costumes">costumes</button>
          </div>
        </mat-card-content>
        <mat-card-content>

          <div *ngIf="postState === 1">
            <h4>Now which sub-department</h4>
            <ng-container *ngFor="let post of postSelections; let i = index">
              <button mat-button color="primary" (click)="selectSubDepartment($event)" value={{this.postSelections[i]}} id={{post}}>{{post}}</button>
            </ng-container>
            <button mat-button color="warn" (click)="goBack()">Back</button>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div *ngIf="postState === 2">
            <h4>Select the best category for your post</h4>
            <ng-container *ngFor="let post of postSelections; let i = index">
              <button mat-button color="primary" (click)="selectCategory($event)" value={{this.postSelections[i]}} id={{post}}>{{post}}</button>
            </ng-container>
          </div>
        </mat-card-content>
        <mat-card>
          <mat-card-content class="center" *ngIf="postState === 3">

            <mat-form-field class="post-form">
              <textarea matInput type=text formControlName="title" placeholder="Title your Post" value="">  </textarea>
            </mat-form-field>
            <mat-form-field class="post-form">
              <input matInput type=text formControlName="description" placeholder="describe your Post" value="">
            </mat-form-field>
            <mat-form-field class="post-form">
              <input matInput formControlName="deathDate" [matDatepicker]="picker" placeholder="Last pick-up date?" value="">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" type=submit>CreatePost</button>
            <button mat-button color= "warn" type="button"(click)="resetPostForms()">StartOver</button>
          </mat-card-actions>
        </mat-card>


      </form>
    </div>
  </mat-card-content>


</mat-card>