
<mat-card>
    
  <mat-card-title>

    Publish a New Post motherfucker
  </mat-card-title>
  <mat-card-subtitle>
      <button (click)="testPost()">test post</button>
    <div *ngIf="postState > 2">
      <h4>Your current post:</h4>
      <span *ngIf="this.rForm.value.department">
        <strong>Department:</strong> {{this.rForm.value.department}}</span>
      <br>
      <span *ngIf="this.rForm.value.subDepartment">
        <strong> SubDepartment:</strong> {{this.rForm.value.subDepartment}}
      </span>
      <br>
      <span *ngIf="this.rForm.value.category">
        <strong> Category:</strong> {{this.rForm.value.category}}
      </span>
      <br>
      <span *ngIf="this.rForm.value.deathDate && this.rForm.value.description"><strong>Description:</strong>{{this.rForm.value.description}} to be picked up no later than {{this.rForm.value.deathDate | date: 'fullDate'}}</span>
      <br>
      <span *ngIf="this.rForm.value.deathDate && this.rForm.value.description"><strong>Pick Up Before:</strong>{{this.rForm.value.deathDate | date: 'fullDate'}}</span>
    </div>
  </mat-card-subtitle>
  <mat-card-content>

    <div>
      <form [formGroup]="rForm" id="createPost" (ngSubmit)="this.modifyAndPost()">
        <mat-card-content>
          <div *ngIf="postState === 0">
            <h4>Which department does this belong to?</h4>
            <button color="primary" value="electrical" (click)="selectDepartment($event)" id="electrical">electrical</button>
            <button color="primary" value="scenery" (click)="selectDepartment($event)" id="scenery">scenery</button>
            <button color="primary" value="costumes" (click)="selectDepartment($event)" id="costumes">costumes</button>
          </div>
        </mat-card-content>
        <mat-card-content>

          <div *ngIf="postState === 1">
            <h4>Now which sub-department</h4>
            <ng-container *ngFor="let post of postSelections; let i = index">
              <button color="primary" (click)="selectSubDepartment($event)" value={{this.postSelections[i]}} id={{post}}>{{post}}</button>
            </ng-container>
            <button color="warn" (click)="goBack()">Back</button>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div *ngIf="postState === 2">
            <h4>Select the best category for your post</h4>
            <ng-container *ngFor="let post of postSelections; let i = index">
              <button color="primary" (click)="selectCategory($event)" value={{this.postSelections[i]}} id={{post}}>{{post}}</button>
            </ng-container>
          </div>
        </mat-card-content>
        <mat-card>
          <mat-card-content class="center" *ngIf="postState === 3">

            <mat-form-field class="post-form">
              <textarea matInput type=text [(ngModel)] = "this.currentPost.title" formControlName="title" placeholder="Title your Post" value="" [formControl]="publishControl">  </textarea>
            </mat-form-field>
            <mat-error align="end" *ngIf="publishControl.hasError('required')">
             We need a post title
            </mat-error>
            <mat-form-field class="post-form">
              <input [(ngModel)] = "this.currentPost.description" matInput type='text' formControlName="description" placeholder="describe your Post" value="" [formControl]="publishControl" id="description">
            </mat-form-field>
            <mat-error align="end" *ngIf="publishControl.hasError('required')">
              Post must have a description
            </mat-error>
            <mat-form-field class="post-form">
              <input matInput formControlName="availableDate" [(ngModel)] = "this.currentPost.availableDate" [min]= "minDate" [matDatepicker]="picker2" placeholder="Date Available?" [formControl]="publishControl">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error align="end" *ngIf="publishControl.hasError('required')">
                Enter a Valid Date
              </mat-error>
            </mat-form-field>
            <mat-form-field class="post-form">
              <input matInput formControlName="deathDate" [(ngModel)] = "this.currentPost.deathDate" [matDatepicker]="picker" [min]="currentPost.availableDate" placeholder="Last pick-up date?" [formControl]="publishControl">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button color="primary" mat-button type=submit (click)="openUndoSnackbar()">CreatePost</button>
            <button color= "warn"  mat-button type="button"(click)="resetPostForms()">StartOver</button>
          </mat-card-actions>
        </mat-card>


      </form>
    </div>
  </mat-card-content>


</mat-card>